#GlobalSaveChange {
    margin: 0;
    padding: 8px;
    background-color: #0aa081;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 45%;
    cursor: pointer;
}

    #GlobalSaveChange:hover {
        color: #e5ff00;
    }

.TemplateControl {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 999999;
}    
    .TemplateControl i {
        margin: 2px 0px 0px 2px;
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #f00;
        cursor: pointer;
        background-color: #fff;
        font-size: 30px;
        line-height: 30px;
        cursor:pointer;
    }
        .TemplateControl i:hover {
            color: #0c7935;
        }
    .TemplateControl div.EditContainer {
        margin:0px;
        padding:8px 0px;
        display: block;
        border: 1px solid #f00;
        cursor: pointer;
        background-color: #f1f1f1;
        font-size: 12px;
        line-height: 12px;
        cursor:pointer;
        width:100%;
    }
    .TemplateControl .CheckUseItem, .TemplateControl .TextOfItem{
        margin:3px 0px 0px 0px;
        padding:0px;
        display:block;
        float:left;
    }
    .TemplateControl .CheckUseItem{                
        width:8%;
        margin-top:8px;
    }
    .TemplateControl .TextOfItem{        
        margin:0px 0px 5px 0px;
        padding:5px;
        width:80%;
        border:1px solid #ccc;
        background-color:#fff;
    }
